<div class="container d-flex flex-column align-items-center" style="height: 100vh;">
  <div class="row">
    <div class="col-md-12">
      <h1 class="d-flex justify-content-center">Choose a Movie!</h1>

      <div class="d-flex justify-content-center">
        <form (ngSubmit)="searchMovies($event)" class="mt-4">
          <div class="input-group">
            <input type="text" [(ngModel)]="searchTerm" name="searchTerm" class="form-control rounded" placeholder="Type in the Moviename">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-4">
        <!-- displaying the movies -->         
        <div class="card mb-2" style="width: 18rem; border: none" *ngFor="let movie of movies">
          <img [src]="movie.Poster" alt="No Poster found" />
          <div class="card-body">
            <h4 class="card-title">{{ movie.Title }}</h4>
            <p class="card-text">{{ movie.Year }}</p>
            <!-- collapse with details -->
            <div class="d-flex flex-column">
              <button class="btn btn-outline-primary mb-2" (click)="addToWatchlist(movie)">Add to Watchlist</button>
              <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample"
                (click)="togglePlot()">
                view more
              </button>
            </div>
            <div style="min-height: 120px;">
              <div class="collapse collapse-horizontal" id="collapseWidthExample" [ngClass]="{ 'show': showPlot }">
                <div class="card card-body d-flex justify-content-center" style="width: 300px; border: none;">
                  <p><strong>Director: </strong>{{ movie.Director }}</p>
                  <p><strong>Actors: </strong>{{ movie.Actors }}</p>
                  <p><strong>Ratings: </strong></p>
                  <ul>
                    <li *ngFor="let rating of movie.Ratings">
                      {{ rating.Source }}: {{ rating.Value }}
                    </li>
                  </ul>
                  <p><strong>Plot: </strong>{{ movie.Plot }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
